@media screen and (min-width: 420px) and (max-width: 780px){

    .first-page__image {
        padding: 0px 0px 0px 0px;
    }
    

    .second-page__border{
        width:53em;

    }


    .second-page__photo-a{
        position: relative;
        left:1em;
    }

  


    .second-page__info-a{
        position: absolute;
        left:19em;

    }

    .second-page__line-a{
        -webkit-transform: translate(9.5em,-7px);
        border: 1px solid #EEEFF2;
    }

    .second-page__info-b{
        position: absolute;
        left:35em;

    }

    .second-page__photo-b{
        position: relative;
        left:13em;
    }

    .second-page__line-b{
        -webkit-transform: translate(23em,-7px);
        border: 1px solid #EEEFF2;
    }

    .second-page__info-c{
        position: absolute;
        left:52em;

    }


    .second-page__photo-c{
        position: relative;
        left:27em;
    }




   .third-page__info h1{
       width: 9em;
   }




  


   .fourth-page {
    width: 67em;
    position: relative;
    bottom: -6em;
   }

   .fourth-page .title{
       position: relative;
   }

   .fourth-page .text{
    position: relative;
    left:0em;

   }



   .fourth-page__main .plan-a{
    position: relative;
    left:1em;
}



   .fourth-page__main .plan-b{
    position: relative;
    left:3em;
}


   .fourth-page__main .plan-c{
       position: relative;
       left:5em;
   }




    .fifth-page{
        text-align: center;
        position: relative;
        bottom:-5em;
       


    }

    .fifth-page h1 {
        font-family: 'Rubik';
        font-size: 35px;
        font-weight: 500;
        line-height: 50px;
        padding: 80px 0px 10px 0px;
        position: relative;

        left:6em;
        }


    .fifth-page p {
        font-family: 'Rubik';
        padding: 0px 0px 100px 0px;
        position: relative;

        left:13.5em;
    }

    .fifth-page__global-photo{
        width:54em;
        position: relative;
        right:-8em;
    }

    .fifth-page__sponsor-photo{
        width:54em;
        position: relative;
        right:-8em;
    }




    .sixth-page .info-a{
        position: relative;
        left: 6em;
        padding-top: 3em;

    }
    
    .sixth-page .info-b{
        position: relative;
        left: 12em;
    }

    .sixth-page-a{
        position: relative;
        left: 4em;
    }

    .sixth-page-b{
        position: relative;
        left: 5em;
    }

    .sixth-page-c{
        position: relative;
        left: 6em;
    }


    .sixth-page .pic{
        position: relative;
        left: 15em;
    }

    .sixth-page .line{
        position: relative;
        left: 4em;
    }


    .seventh-page{
        width: 53em;
    }



    .seventh-page_button{
        position: relative;
        left:11em;

    }






    .eight-page__info{
        width: 67em;
    }

    .eight-page__b {
        position: relative;
        left: 19em;
    }


    .eight-page__c {
        position: relative;
        left: 24em;
    }


    .eight-page__d {
        position: relative;
        left: 28em;
    }
}